name: tests

on: [push, pull_request]

permissions:
  contents: read

jobs:
  black:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: psf/black@stable
        with:
          options: "--check --verbose"
          version: "24.3.0"
  unittest:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.9', '3.14']
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
      - name: Install dependencies
        run: pip install -r requirements.txt 
      - name: Run tests
        run: python -m unittest discover -s tests -p '*_test.py'
        env:
          TEST_UNIVERSE_ID: ${{ secrets.TEST_UNIVERSE_ID }}
          TEST_USER_CLOUD_KEY: ${{ secrets.TEST_USER_CLOUD_KEY }}
